body{
	background-color: white;
	font-family: Raleway;
	border: black;
}
h1{
	text-align: center;
	font-size: 20px;
	font-family: Raleway;
	letter-spacing: 3px;
	color: #87a4b6;
}
.headline{
	padding-top: 75px;
	padding-bottom: 50px;
	background-color: #87a4b6;
	background: url('images/mainenight-min.JPG') no-repeat center center;
	font-family: Raleway;
	font-weight: 
	min-width: 100%;
	background-size: cover;
}
.headling p{
	padding-left: 200px;
	padding-right: 200px;
}
.newspace{
	padding-top: 50px;
}
.newspace p{
	padding-top: 10px;
	text-align: justify;
	padding-right: 45px;
	padding-left: 45px;
	padding-bottom: 40px;
}
.newspace h4{
	padding-bottom: 10px;
}

.ethos{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 150px;
	padding-left: 150px;
	color: #87a4b6;
	min-width: 300px;
}
.ethos p{
	text-align: center;

}
.aboutme{
	text-align: center;
	padding-top: 50px;
}
.aboutme p{
	padding-bottom: 20px;
	/*padding-right: 120px;*/
	/*padding-left: 20px;*/
	color: #87a4b6;
	/*min-width: 600px;*/
	text-align: justify;
	color: black;
	/*margin-left: 100px;*/
	padding: 20px;
}
.aboutme h3{
	letter-spacing: 2pt;
}
.aboutme h4{
	padding-bottom: 20px;
}
.aboutme img{
color: black;
margin-bottom: 50px;

	
}
.contact-img {
	width: 100%;
}

.footer-right {
	position: relative;
	float:right;
	text-align: right;
}
.footer-left {
	position: relative;
	float:left;
	text-align: left;
	margin-left: 15px;
}

h2{
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
}
h4{
	text-align: center;
	letter-spacing: 2px;
	font-weight: medium;
}
p{
	
}
.btn{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #dfe47e;
}


}
.btn-default {
    background: #dfe47e;
    color: black;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
	color: #dfe47e;
}
.navbar-inverse .navbar-nav>li>a {
	color: #dfe47e;
}

.navbar-bottom {
max-height: 13px;
margin-top: 5px;
background-color: #28364f;
padding-top: 3px;
color:#dfe47e;
}
.footertext {
	float: right;
	padding-top: 13px;
}
.contactrow{
	text-align: center;
	margin-top: 50px;
}
.contactrow h3{
	color:black;
	letter-spacing: 2pt;
	
}
.contactrow h4{
	font-family: Raleway;
}
.contactrow img{
	margin-top: 30px;
}
footer{
	bottom:0;left:0;right:0;height:4em;
	background-color: #2a2a2a;
}
footer p{
		color: #dfe47e;
		float: right;
		margin-right: 15px;
		margin-top:10px;
}
.contactrow img{
	padding-bottom: 150px;
}
a{
	color: black;
}

.no-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.full-width {
	width: 100% !important;
}

@media (max-width: 610px) {
  .ethos{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 75px;
	padding-left: 75px;
	color: #87a4b6;
	min-width: 300px;
	}
}

@media (max-width: 991px) {

	.img-rounded {
		width: 30%;
		height: 30%;
	}

}




